$Roboto500: 'Roboto', sans-serif;
$grey : #F6F6F6;
$purple : #9356DC;
$pink : #FF79DA;
$white : #FFFFFF;
$green : #99E2D0;

body {
    margin: 0;
}

main {
    background-color: $grey;
}

.title2 {
    font-family: 'Shrikhand', serif;


    #title2__arrow {
        color: black;
        position: relative;
        top: 54px;
        left: 15px;
    }

    .title2__title {
        text-align: center;
    }

}

.image {
    width: 100%;
    height: 275px;
}

h2 {
    font-family: 'Shrikhand', serif;
    margin-left: 15px;
}

.titlemenu {
    position: relative;
    background-color: $grey;
    margin-top: -50px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #heart {
        position: absolute;
        right: 60px;
        top: 20px;
        font-size: 35px;
    }

    .heart:hover #heart2 {
        transform: scale(1);
        transition: 300ms;
    }

    #heart2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 60px;
        top: 20px;
        font-size: 35px;
        background: -webkit-gradient(linear, left top, left bottom, from($purple), to($pink));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
    }
}

h3 {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-family: $Roboto500;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-left: 15px;

    span {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}




.centered-cards {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        justify-content: space-between;
        font-family: $Roboto500;
        background-color: $white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        width: 90%;
        border-radius: 15px;
        margin-bottom: 12px;
        text-decoration: none;
        color: black;
        overflow: hidden;
        transform: translateX(-9999px);
        animation-name: card__menu;
        animation-duration: 3000ms;
        animation-timing-function: cubic-bezier(.2, .51, .43, .98);
        animation-fill-mode: forwards;
    }

    h4 {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin: 2px;

    }

    .card__text-indice {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card__text {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
    }

    .check {
        display: flex;
    }

    .check__euros {
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 10px;
    }

    .check__green {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        background-color: $green;
        transition: 300ms;
        overflow: hidden;
    }

    .card:hover .check__green {
        width: 59px;
    }
}

.discovery {

    background-color: $grey;
    font-family: $Roboto500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 40px;

    a {
        background: linear-gradient(0.49turn, $pink, $purple);
        border-radius: 25px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        padding: 18px;
        width: 218px;
        margin: 40px;
        text-decoration: none;
        color: $white;
        display: flex;
        justify-content: center;
    }

    a:hover {
        transition-duration: 0.5s;
        filter: brightness(1.20);
    }
}

footer {
    background-color: #353535;
    padding: 15px 15px 15px 30px;

    h4 {
        font-family: 'Shrikhand', serif;
        color: $white;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 16px;
    }

    a {
        font-family: $Roboto500;
        text-decoration: none;
        display: flex;
        gap: 7px;
    }

    p {
        color: $white;
        margin: 5px 0;
    }
}


@keyframes card__menu {
    0% {
        transform: translateX(-9999px);
    }

    100% {
        transform: translateX(0px);
    }
}

.card1 {
    animation-delay: 50ms;
}

.card2 {
    animation-delay: 500ms;
}

.card3 {
    animation-delay: 850ms;
}