$Roboto500: 'Roboto', sans-serif;
$grey : #F6F6F6;
$purple : #9356DC;
$pink : #FF79DA;
$white : #FFFFFF;
$greenbold : #008766;
$green : #99E2D0;


body {
    margin: 0;
}


.loader {

    //* Ecran de chargement avec icone Food et keyframes loading ! *//

    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $white;
    animation: loading 4000ms forwards;


    .loader__solid {

        //* bordure barre de progression chargement *// 

        border: solid 1px $purple;
    }


    .loader__bar {

        //* barre de progression avec keyframes loaderbar *//

        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 6px;
        border: solid $purple;
        background-color: $purple;
        animation-name: loaderbar;
        animation-fill-mode: forwards;
        animation-duration: 4000ms;
        transform-origin: left;
        transform: scaleX(0.5);

    }


    i {

        //* image Food *//

        color: $purple;
        font-size: 160px;
    }
}



@keyframes loaderbar {

    //* Remplissage de la barre de progression *//

    0% {
        transform: scaleX(0);
    }

    17% {
        transform: scaleX(.18);
    }

    24% {
        transform: scaleX(.40);
        animation-timing-function: cubic-bezier(.9, 0, .1, 1);
    }

    46% {
        transform: scaleX(.81);
        animation-timing-function: cubic-bezier(.25, 0.25, 1, 1);
    }

    100% {

        transform: scaleX(1);
    }
}


@keyframes loading {

    //* Ecran de chargement avec icone Food avec disparition à la fin du chargemement ! *//

    0% {
        display: flex;
    }

    90% {
        display: flex;
    }

    100% {
        display: none;
    }

}



.title {

    //* titre OhMyFood ! *//

    font-family: 'Shrikhand', serif;
    text-align: center;
}

.position {

    //* Paris BelleVille *//

    position: relative;
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    box-shadow: 1px 1px 10px black;

    .position__img {
        margin: 17px;
        color: #353535;
    }

    .position__img--texte {
        font-family: $Roboto500;
        color: #353535;
    }

}

.discovery {

    //* Div Reserver le menu qui vous convient *//

    background-color: $grey;
    font-family: $Roboto500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;



    h2 {

        //* Son titre *//

        margin: 0;
        text-align: center;
    }


    p {

        //* Son texte *//

        font-weight: 100;
        color: #353535;
        filter: brightness(2);
    }

    a {

        //* Button Explorer nos Restaurants *//

        background: linear-gradient(0.49turn, $pink, $purple);
        border-radius: 25px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        padding: 18px;
        width: 218px;
        margin: 40px;
        text-decoration: none;
        color: $white;
        display: flex;
        justify-content: center;
    }

    a:hover {

        //* Au survole de la souris transition avec filtre lumière ! *//

        transition-duration: 0.5s;
        filter: brightness(1.20);
    }
}

h2 {

    //* Titre Fonctionnement *//

    font-family: $Roboto500;
    margin: 30px;
}

.functioning {

    //* Indication provessuse client en 3 étapes ! *//

    font-family: $Roboto500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .functioning__indication {

        //* Boite d'une étape *//

        display: flex;
        align-items: center;
        width: 85%;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        background-color: $grey;
        border-radius: 20px;
        gap: 20px;
        padding: 5px;

    }

    .functioning__number {

        //* Positionnement du chiffre avec cercle violet ! *//

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        background-color: $purple;
        color: $white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        gap: 10px;
        margin-left: -15px;
    }

}

.restaurant {

    //* Toutes les affiches menu ! *//

    font-family: $Roboto500;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    h2 {

        //* Titre restaurant *//

        margin-bottom: 20px;
        padding-top: 30px;
        align-self: flex-start;
    }

    img {

        //* Image du menu *//

        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        object-position: 50% 58%;
    }

    .restaurant__card {

        //* Div dans laquelle Image menu *//

        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 15px;
        text-decoration: none;
        color: black;
    }

    .restaurant__contain {
        width: 94%;
    }

    .restaurant__card--position {
        position: relative;
    }

    h3 {

        //* Titre du menu *//

        padding-top: 15px;
        padding-left: 15px;
        font-size: 18px;
        margin: 0;
    }

    p {

        //* Indication menu sous-image *//

        padding: 0px 15px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }



    .restaurant__card--text {

        //* Div dans laquelle texte menu *//

        display: flex;
        flex-direction: row;
        border-radius: 0px 0px 15px 15px;
        width: 100%;
        background-color: $white;
        margin-bottom: 30px;
    }


    .heart {

        //* Icone coeur button *//

        position: relative;
    }

    #heart {

        //* Icone coeur avec bordure *//

        position: absolute;
        right: 10px;
        top: 25px;
        font-size: 23px;
    }

    //* Personnalisation Icone coeur plein avec un transorm scale pour la transition du hover avec un dégradé rose et violet vers le top *// 

    #heart2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 9.5px;
        top: 24.5px;
        font-size: 24px;
        background: -webkit-gradient(linear, left top, left bottom, from($purple), to($pink));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
    }

    .heart:hover #heart2 {

        //* transition au hover et grossissement du coeur plein *//

        transform: scale(1);
        transition: 300ms;
    }

    //* Encadrer vert nouveau avec un border radius absolute de la div restaurant__card relative *//

    .new {
        position: absolute;
        background-color: $green;
        border-radius: 2px;
        right: 25px;
        top: 15px;
    }

    //* Texte nouveau font vert foncé *//

    .new__text {
        margin: 0;
        padding: 8px 12px;
        color: $greenbold;

    }

}

footer {

    //* Pied de page avec fond Noir *//

    background-color: #353535;
    padding: 15px 15px 15px 30px;

    h4 {

        //* Titre pied de page OhMyFood *//

        font-family: 'Shrikhand', serif;
        color: $white;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 16px;
    }

    a {

        //* Div des différents liens de proposition du footer *//

        font-family: $Roboto500;
        text-decoration: none;
        display: flex;
        gap: 7px;
    }

    p {

        //* Texte dans c'est Div liens *//

        color: $white;
        margin: 5px 0;
    }
}




@media only screen and (min-width: 768px) {

    h2 {
        margin-left: 80px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .functioning {
        padding: 25px 180px 25px 180px;
        flex-direction: column;
    }

    .restaurant h2 {
        margin-left: 17px;
    }


    .restaurant {
        padding: 50px;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 25px;
        position: relative;
        display: flex;
        justify-content: end;
        padding-right: 180px;
        justify-content: space-between;
    }

    h4 {
        margin: 3px;
        position: absolute;
        right: 40px;
    }
}


@media only screen and (min-width: 1300px) {

    h2 {
        margin-left: 200px;
    }

    .functioning {
        padding: 25px 200px 25px 200px;
        flex-direction: row;
    }

    .restaurant h2 {
        margin-left: 30px;
    }

    .restaurant {
        padding: 0 130px 0 170px;
        margin-top: 25px;
    }

    .restaurant__contain {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;

    }

    .restaurant__card--position {
        width: 45%;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 25px;
        position: relative;
        display: flex;
        justify-content: end;
        padding-right: 180px;
        gap: 30px;
    }

    h4 {
        margin: 3px;
        position: absolute;
        right: 40px;
    }

}