$Roboto500: 'Roboto', sans-serif;
$grey : #F6F6F6;
$purple : #9356DC;
$pink : #FF79DA;
$white : #FFFFFF;
$green : #99E2D0;

body {
    margin: 0;
}

main {
    background-color: $grey;
}

.title2 {

    //* Div comprenant la flêche de retour et le titre OhMyFood ! *//

    font-family: 'Shrikhand', serif;


    #title2__arrow {

        //* Fleche de retour *//

        color: black;
        position: relative;
        top: 54px;
        left: 15px;
    }

    .title2__title {

        //* Titre OhMyFood ! *//

        text-align: center;
    }

}

.image {

    //* Image Au dessus du menu *//

    width: 100%;
    height: 275px;
}



.titlemenu {

    //* Div avec Le titre La Pa... et le coeur ! ;) *//

    position: relative;
    background-color: $grey;
    margin-top: -50px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {

        //* Titre La Palette du goût *//

        font-family: 'Shrikhand', serif;
        margin-left: 15px;
    }

    #heart {

        //* Icone coeur avec bordure *//

        position: absolute;
        right: 60px;
        top: 20px;
        font-size: 35px;
    }

    #heart2 {

        //* Coeur plein dégradé violet*//        

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 60px;
        top: 20px;
        font-size: 35px;
        background: -webkit-gradient(linear, left top, left bottom, from($purple), to($pink));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
    }

    .heart:hover #heart2 {

        //* Au hover du coeur bordure transition de transformation sur la taille du coeur plein *// 

        transform: scale(1);
        transition: 300ms;
    }


}

h3 {

    //* Titre au dessus des cartes menu *//

    display: flex;
    align-items: center;
    font-weight: normal;
    font-family: $Roboto500;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-left: 15px;

    span {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}




.centered-cards {

    //* Div contenant les cartes d'un menu *//

    display: flex;
    align-items: center;
    justify-content: center;

    .card {

        //* Div contenant le texte et le prix et keyframes card__menu *//

        display: flex;
        justify-content: space-between;
        font-family: $Roboto500;
        background-color: $white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        width: 90%;
        border-radius: 15px;
        margin-bottom: 12px;
        text-decoration: none;
        color: black;
        overflow: hidden;
        transform: translateX(-9999px);
        animation-name: card__menu;
        animation-duration: 3000ms;
        animation-timing-function: cubic-bezier(.2, .51, .43, .98);
        animation-fill-mode: forwards;
    }

    .card__text {

        //* Div contenant le titre h4 et le p card__text-indice *//

        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
    }

    h4 {

        //* Titre des cartes menu *//

        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card__text-indice {


        //* Texte indication du menu *//


        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p {

        //* Gérer la marge texte indication du menu siinon écart trop grand *//

        margin: 2px;
    }

    .check {

        //* Div avec prix *//

        display: flex;
    }

    .check__euros {

        //* Prix *//

        display: flex;
        justify-content: end;
        align-items: end;
        padding: 10px;
    }

    .check__green {

        //* Div verte avec signe true en apparition apres le hover ! avec transition sur la taille *//

        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        background-color: $green;
        transition: 300ms;
        overflow: hidden;
    }

    .card:hover .check__green {

        //* Au survole de la card apparition de la div verte avec logo true grasse au grossissement de la div sur transition *//

        width: 59px;
    }
}


@keyframes card__menu {

    //* transformation sur un translation de gauche à droite des cartes menu *// 

    0% {
        transform: translateX(-9999px);
    }

    100% {
        transform: translateX(0px);
    }
}


//* Délais des animations pour escalier entre les cartes menu *//

.card1 {
    animation-delay: 50ms;
}

.card2 {
    animation-delay: 500ms;
}

.card3 {
    animation-delay: 850ms;
}




.discovery {

    //* Div comprenant le boutton commander *//

    background-color: $grey;
    font-family: $Roboto500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 40px;

    a {

        //* Boutton commander *//

        background: linear-gradient(0.49turn, $pink, $purple);
        border-radius: 25px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        padding: 18px;
        width: 218px;
        margin: 40px;
        text-decoration: none;
        color: $white;
        display: flex;
        justify-content: center;
    }

    a:hover {

        //* Transition au hover sur le button commander *//

        transition-duration: 0.5s;
        filter: brightness(1.20);
    }
}

footer {

    //* Pied de page *//

    background-color: #353535;
    padding: 15px 15px 15px 30px;

    h4 {
        font-family: 'Shrikhand', serif;
        color: $white;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 16px;
    }

    a {
        font-family: $Roboto500;
        text-decoration: none;
        display: flex;
        gap: 7px;
    }

    p {
        color: $white;
        margin: 5px 0;
    }
}